.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espacio entre las secciones */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.navbar-left,
.navbar-right {
  display: flex;
  gap: 10px;
}

.topper-button {
  position: absolute;
  top: 7px;
  left: 20px;
}

.middle-message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

.middle-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.middle-buttons .button {
  padding: 20px 40px;
  font-size: 18px;
  width: auto;
  min-width: 200px;
  min-height: 60px;
  box-sizing: border-box;
}

.button {
  padding: 15px 25px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* mueve los botones */
.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Añadir color y espacio a los textos */
button {
  font-weight: bold;
}
