.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  padding: 15px 25px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

h1 {
  margin-top: 100px; /* Ajusta el margen superior del título */
}

.form-container button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button {
  padding: 15px 25px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}


/* mueve los botones */
.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Añadir color y espacio a los textos */
button {
  font-weight: bold;
}

form p {
  text-align: center;
}

form p a {
  color: #007bff;
  text-decoration: none;
}

form p a:hover {
  text-decoration: underline;
}

.profile-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: sans-serif;
}

.profile-form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.profile-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-form button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.7rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.form-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  margin: 10px 5px;
  margin-left: 0px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #e53935;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #c62828;
}